*{
  margin: 0;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FBF2F2;
  padding: 152px 180px;
}

div{
  width: 560px;
  background-color: #fff;
  padding: 40px;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

h4, p{
  color: #333;
  line-height: 1.5;
  letter-spacing: .1em;
  margin-top: 40px;
}

h4{
  font-size: 24px;
  font-weight: 700;
}

p{
  font-size: 14px;
  font-weight: 500;
}

iframe{
  display: block;
  width: 640px;
  height: 360px;
  margin-top: 180px;
}
